.page {
    width: 100%;
    height: 100%;
    display: flex;

    .side {
        width: 280px;
        height: 100%;
    }

    .main {
        width: calc(100% - 280px);
        height: 100%;
    }
}