@use '@angular/material'as mat;
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

$my-typography: mat.m2-define-typography-config($font-family: 'Montserrat, Roboto, "Helvetica Neue", sans-serif',
);
@include mat.typography-hierarchy($my-typography);


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}