@import "variables.scss";

::ng-deep {
  .mat-mdc-dialog-surface {
    background-color: white;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ebd9ce !important;
    color: #84649d;
  }

  .mat-focus-indicator,
  .mat-sort-header-container,
  .mdc-line-ripple::before,
  .mdc-line-ripple::after,
  .mdc-line-ripple::before,
  .mat-focus-indicator,
  .mat-sort-header-container {
    border: 1px solid $secondary;
    color: #84649d;
  }

  .mat-mdc-text-field-wrapper {
    color: #84649d;
  }

  .mat-focused,
  .mat-form-field-label {
    color: #84649d !important;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #84649d !important;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    color: #84649d;
  }
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #84649d;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #84649d;
  }

  .mat-focused,
  .placeholder {
    color: #84649d;
  }
}

.add-btn {
  background-color: $primary;
  color: white;
}

.leave-btn {
  color: $primary;
  border-color: $primary;
}

.content{
  display: flex;
  flex-direction: column;
}